@font-face {
  font-family: "Google Sans";
  src: url("//fonts.gstatic.com/s/googlesans/v58/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIKln.woff2"),
  url("//fonts.gstatic.com/s/googlesans/v58/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIKln.woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-primary: #f0cb59;
  --color-secondary: #f8f8ff;
  --color-tertiary: #fff;

  --color-grey-dark: #363636;
  --color-grey-light: #444445;
  --color-grey-lightest: #7d7d7f;

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /*@media only screen and (max-width: $bp-largest) {*/
  /*}*/
}

.body {
  font-family: Google Sans, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark);
  background-color: var(--color-secondary);
}
