@font-face {
  font-family: "Google Sans";
  src: url("//fonts.gstatic.com/s/googlesans/v58/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIKln.woff2"),
  url("//fonts.gstatic.com/s/googlesans/v58/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIKln.woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-primary: #ffcc01;
  --color-secondary: #f8f8ff;
  --color-tertiary: #fff;

  --color-grey-dark: #363636;
  --color-grey-light: #444445;
  --color-grey-lightest: #707070;

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /*@media only screen and (max-width: $bp-largest) {*/
  /*}*/
}

.title {
  color: var(--color-primary);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.body {
  font-family: Google Sans, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark);
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-tertiary));
}

.container {
  display: grid;
  grid-template-columns: 1fr .5fr;
  max-width: 128rem;
  min-height: 90rem;
  margin: 0 auto;
}

.section-wrapper {
  padding: 15rem 0 0 10rem;
}

.main {
  background-color: var(--color-secondary);
}

.aside {
  background-color: var(--color-tertiary);
}

.header {
  & .header__heading,
  & .header__surname {
    font-size: 5.5rem;
    text-transform: uppercase;
    line-height: 5.3rem;
  }

  & .header__sub-heading {
    letter-spacing: .7rem;
    font-size: 3.5rem;
    font-weight: 400;
  }
}

.contact {
  padding-top: 10rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;

  & .contact__icons {
    padding: .5rem 0;
    display: grid;
    align-items: center;
    justify-content: center;

    border: .35rem solid var(--color-primary);
    border-radius: 10rem;

    min-width: 3.7rem;
    min-height: 11.5rem;
  }

  & .contact__icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  & .contact__resources {
    display: grid;
    align-items: center;
    gap: .5rem;
  }

  & .contact__resource {
    text-decoration: none;
    color: var(--color-grey-lightest);
  }
}
